extends layouts/layout.pug

block content
    .container
        br/
        .btn-container
            input(type='text' class='location-text' placeholder="Stock Code?")
            button(type='submit' class='btn btn-search') Add

    ul.container.bar-list

    li.bar.hidden
        img(class='bar-photo')
        div(class='bar-info')
            a(class='bar-name')
            a(class='bar-toggle-attendance' href="#") 0 GOING
            p(class='bar-desc')

//- block append scripts
//-     = '\n'
//-     script(type='text/javascript' src='controllers/stockController.client.js')
