extends layouts/layout.pug

block content
    .container.center(id='container' style='height:400px;')

    .container.center.stock-codes
        .stock-block
            input.stock-code(type='text' placeholder='Stock Code?')
            button(type='submit' class='btn btn-add') Add

block append scripts
    = '\n'
    script(type='text/javascript' src='/public/js/highcharts/highstock.js')
    = '\n'
    script(type='text/javascript' src='/public/js/highcharts/themes/avocado.js')
    = '\n'
    script(type='text/javascript' src='controllers/stockController.client.js')
