extends layouts/layout.pug

block content
    .container.center(id='chart' style='height:400px;')

    .container.center
        p(id='server-time')

    .container.center.stocks
        form.stock
            .prompt
                label Syncs in realtime across clients
            .content
                input.stock-code(type='text' placeholder='Stock Code')
                button(type='submit' class='btn btn-add') Add

    .new-stock.stock.hidden
        h3
        span

block append scripts
    = '\n'
    script(type='text/javascript' src='/public/js/highcharts/highstock.js')
    = '\n'
    script(type='text/javascript' src='/public/js/highcharts/themes/avocado.js')
    = '\n'
    script(type='text/javascript' src='/public/js/socket.io-client/dist/socket.io.js')
    = '\n'
    script(type='text/javascript' src='controllers/stockController.client.js')
